In [1]:
#Q1.
import pandas as pd

In [2]:
course_name=["Data science","machine learning","Big data","Data Engineer"]
Duration=[2,3,6,4]

In [3]:
df=pd.DataFrame(data={"course_name":course_name,"Duration":Duration})

In [4]:
df

        course_name  Duration
0      Data science         2
1  machine learning         3
2          Big data         6
3     Data Engineer         4

In [6]:
df[1:2]

        course_name  Duration
1  machine learning         3

In [ ]:
#Q2.
In pandas, the functions loc and iloc are used to access and retrieve data from a DataFrame. However, they have slight differences in how they handle indexing and slicing:

loc:
loc is primarily label-based. It accepts labels or boolean arrays as input to access data.
It is used to access data using labels of rows or columns.
The indexing with loc includes the endpoint.
When using loc, the index labels are used to select rows or columns.
The syntax for using loc is df.loc[row_indexer, column_indexer].
iloc:
iloc is primarily integer-based. It accepts integer indices or boolean arrays as input to access data.
It is used to access data using integer-based positions of rows or columns.
The indexing with iloc excludes the endpoint.
When using iloc, the integer-based positions are used to select rows or columns.
The syntax for using iloc is df.iloc[row_indexer, column_indexer].

In [9]:
#Q3.
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [10]:
df1.loc[2]

column_1    0.038180
column_2    0.932866
column_3    0.236561
column_4    0.062508
column_5    0.869693
column_6    0.065802
Name: 2, dtype: float64

In [11]:
df1.iloc[2]

column_1    0.185831
column_2    0.087555
column_3    0.584900
column_4    0.243167
column_5    0.896330
column_6    0.501638
Name: 3, dtype: float64

In [12]:
#Q4.
import pandas as pd
import numpy as np

# Create the DataFrame
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = ['index_1', 'index_2', 'index_3', 'index_4', 'index_5', 'index_6']
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# Calculate mean of each column
column_means = df1.mean()
print("Mean of each column:")
print(column_means)

# Calculate standard deviation of 'column_2'
column_2_std = df1['column_2'].std()
print("\nStandard deviation of 'column_2':")
print(column_2_std)

Mean of each column:
column_1    0.459719
column_2    0.822720
column_3    0.431451
column_4    0.459993
column_5    0.235084
column_6    0.585275
dtype: float64

Standard deviation of 'column_2':
0.06089731363712696

In [22]:
#Q5.
import pandas as pd
import numpy as np

# Create the DataFrame
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = ['index_1', 'index_2', 'index_3', 'index_4', 'index_5', 'index_6']
df1 = pd.DataFrame(np.random.rand(6, 6), columns=columns, index=indices)

# Replace the data in the second row of 'column_2' with a string variable
df1.at['index_2', 'column_2'] = 'pwskills'

In [23]:
df1

         column_1  column_2  column_3  column_4  column_5  column_6
index_1  0.389143  0.429405  0.302049  0.271739  0.559862  0.294227
index_2  0.372661  pwskills  0.880076  0.143676  0.582140  0.732716
index_3  0.950188  0.002015  0.936780  0.969844  0.918371  0.283727
index_4  0.939098  0.837312  0.168951  0.412715  0.429296  0.050119
index_5  0.650309  0.942208  0.820815  0.039653  0.005174  0.687595
index_6  0.312953  0.758831  0.089547  0.270828  0.124067  0.003425

In [20]:
df2=df1["column_2"].mean

In [21]:
df2

<bound method NDFrame._add_numeric_operations.<locals>.mean of index_1              0.340585
index_2    replacement_string
index_3              0.066325
index_4              0.863722
index_5              0.839132
index_6              0.068019
Name: column_2, dtype: object>

In [ ]:
#Q6.
In pandas, the window functions provide a way to perform calculations on a specific window or subset of data within a DataFrame. These functions operate on a specified window of data defined by a rolling or expanding window.

Here's an overview of the types of window functions available in pandas:

Rolling Window Functions:
Rolling window functions operate on a fixed-size sliding window of data.
The window size is specified using the window parameter, which determines the number of preceding or succeeding values included in the calculation.
Examples of rolling window functions include:
rolling.mean(): Calculates the mean value of the window.
rolling.sum(): Calculates the sum of the values in the window.
rolling.std(): Calculates the standard deviation of the window.
rolling.min(): Finds the minimum value within the window.
rolling.max(): Finds the maximum value within the window.
rolling.count(): Counts the number of non-null values within the window.
Expanding Window Functions:
Expanding window functions include all data up to the current point and calculate the cumulative values.
These functions consider the entire history of the data up to the current point.
Examples of expanding window functions include:
expanding.mean(): Calculates the mean of all values up to the current point.
expanding.sum(): Calculates the sum of all values up to the current point.
expanding.std(): Calculates the standard deviation of all values up to the current point.
expanding.min(): Finds the minimum value within all values up to the current point.
expanding.max(): Finds the maximum value within all values up to the current point.
These window functions provide a powerful way to perform rolling and expanding calculations on time-series data or other sequential data where the order matters.

In [31]:
#Q7.
import pandas as pd
df=pd.to_datetime("2023-5-24")
td=pd.Timedelta(days=1)

In [32]:
df+td

Timestamp('2023-05-25 00:00:00')

In [33]:
#Q.8
import pandas as pd

# Prompt the user to enter the dates
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")

# Convert the input dates to pandas datetime objects
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

# Calculate the difference between the two dates
time_diff = date2 - date1

# Extract the days, hours, and minutes from the timedelta
days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds // 60) % 60

# Display the result
print("Difference between the two dates:")
print(f"Days: {days}")
print(f"Hours: {hours}")
print(f"Minutes: {minutes}")

Enter the first date (YYYY-MM-DD): 2023-02-23
Enter the second date (YYYY-MM-DD): 2024-03-12
Difference between the two dates:
Days: 383
Hours: 0
Minutes: 0

In [ ]:
#Q9.
import pandas as pd

# Prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file: ")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Prompt the user to enter the column name to convert
column_name = input("Enter the column name to convert to categorical: ")

# Prompt the user to enter the category order
category_order = input("Enter the category order (comma-separated values): ")

# Convert the specified column to categorical data type with the given category order
df[column_name] = pd.Categorical(df[column_name], categories=category_order.split(","), ordered=True)

# Sort the DataFrame by the specified column
df_sorted = df.sort_values(by=column_name)

# Display the sorted data
print(df_sorted)

In [ ]:
#Q10.
import pandas as pd
import matplotlib.pyplot as plt

# Prompt the user to enter the file path
file_path = input("Enter the file path of the CSV file: ")

# Read the CSV file into a DataFrame
df = pd.read_csv(file_path)

# Convert the 'Date' column to datetime data type
df['Date'] = pd.to_datetime(df['Date'])

# Group the data by product category and date, and calculate the sum of sales
df_grouped = df.groupby(['ProductCategory', 'Date'])['Sales'].sum().reset_index()

# Pivot the data to have product categories as columns and dates as index
df_pivot = df_grouped.pivot(index='Date', columns='ProductCategory', values='Sales')

# Create a stacked bar chart
df_pivot.plot(kind='bar', stacked=True, figsize=(10, 6))

# Set the labels and title of the chart
plt.xlabel('Date')
plt.ylabel('Sales')
plt.title('Sales of Each Product Category Over Time')

# Display the chart
plt.show()